#espaceCandidat {

  .header {
    background-image: url('../cvline/asset/img/bg/edit_profil.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }

  .search{
    display: flex;
    justify-content: center;

  }

}