nav {
  ul {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;

    li a {
      list-style-type: none;
      text-decoration: none;
      color: $white;
      font-family: $noto;
      font-size: 18px;
    }
  }
  ul li a:hover {
    color: $blue;
    transition: 0.8s;
  }
}

.copyright{
  padding-top: 2rem;
  text-align: center;
  justify-content: center;
  font-family: $noto;
  font-size: 18px;
      .text-copy{
    color: $white;
  }
}

@media only screen and (min-width : 390px){
  nav{
    ul{
      flex-direction: column;
      display: flex;
      li a {
        font-size: 14px;

      }
    }
  }
  .copyright{
    font-size: 13px;
  }
}

@media only screen and (min-width : 720px){
  nav{
    ul{
      flex-direction: row;
      display: flex;
      li a {
        font-size: 18px;
      }
    }
  }
  .copyright{
    font-size: 16px;
  }
}