#home {
  background-image: url('../cvline/asset/img/bg/image-accueil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  /* The navigation links inside the overlay */
  .overlay #close {
    padding: 8px;
    text-decoration: none;
    font-size: 4rem;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;

    }
  }

  .wrap1 {
    .titre {
      h1 {
        display: flex;
        justify-content: center;
        font-size: 50px;
        color: $white;
        font-family: $noto;
        font-weight: 400;
        padding-top: 3rem;
      }
    }
    .btnGroup{
      display: flex;
      justify-content: center;
      padding: 2rem 0 2rem 0 ;
    }
    .btnGroup2{
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 4rem;
    }
  }
}

@media only screen and (min-width : 390px) {
  #home .wrap1{
    .titre h1{
      font-size: 25px;
    }
    .btnTransparent{
      font-size: 19px;
    }
    .btnGroup2{
      .btnWhite{
        font-size: 16px;
        padding: 2.5px;
        i{
          padding: 5px;
        }
      }
      .btnBlue{
        font-size: 16px;
        padding: 2.5px;
        i{
          padding: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width : 720px) {
  #home .wrap1 {
    .titre h1 {
      font-size: 50px;
    }

    .btnTransparent {
      font-size: 25px;
    }
    .btnGroup2 {
      .btnWhite {
        font-size: 20px;
      }
      .btnBlue {
        font-size: 20px;
      }
    }
  }
}
