.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    

    // Généralités
    .input_group {
        display: flex;
        flex-flow: column nowrap;
        margin: 1rem 0;

        label {
            font-family: $franklin;
            font-size: 1rem;
        }
        input {
            background: none;
            border: none;
            border-bottom: 2px solid;
            font-family: $franklin;
            padding: .3rem .5rem;
        }
    }

    // Spécificités du RegisterForm
    .register {
        // background-color: #141414;
        width: 50%;
        padding: 6rem;
        
        h2 {
            text-align: center;
            font-family: $noto;
            color: $white;
        }
        label { color: $white; }
        input { border-color: $white; color: $white;}
        input::placeholder {
            font-family: $franklin;
            color: rgba($color: #FFFFFF, $alpha: .4)
        }
        input[type="submit"] {
            color: $black;
            cursor: pointer;
        }
        .checkbox {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .2rem;
        }
    }
    // Spécificités du LoginForm
    .login {
        width: 50%;
        padding: 6rem;
        
        h2 {
            text-align: center;
            font-family: $noto;
            color: $black;
        }
        label { color: $black; }
        input { border-color: $black; color: $black;}
        input::placeholder {
            font-family: $franklin;
            color: rgba($color: #000000, $alpha: .4)
        }
    }
}