@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

.btnTransparent{
  box-sizing: border-box;
  border-radius: 10px;
  cursor:pointer;
  color: $white;
  font-size: 25px;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid $white;
  Font-family: $noto;
  transition: .8s;
}
.btnTransparent:hover{
  background-color: $white;
  color: $black;
  transition: .8s;
}

.btnWhite {
  color:$blue ;
  border-radius: 10px;
  font-family:$franklin;
  font-size: 1rem;
  background-color: $white;
  transition: .8s;
  padding: .2rem 1.5rem;
}
.btnWhite:hover{
  background-color: $blue;
  color: $white;
  transition: .8s;
}
.btnBlue {
  color: $white;
  border-radius: 16px;
  font-family: $franklin;
  font-size: 1rem;
  background-color: $blue;
  padding: .2rem 1.5rem;
  transition: .8s;
}
.btnBlue:hover{
  color: $blue;
  border: 1px solid $blue;
  background-color: $white;
  transition: .8s;
}

.btnBlack{
  color: $white;
  border: 1px solid $blue;
  border-radius: 16px;
  font-family: $franklin;
  font-size: 1rem;
  background-color: $black;
  padding: .2rem 1.5rem;
  transition: .8s;
}
.btnBlack:hover{
 color: $black;
  background-color: $white;
  transition: .8s;
}
