// wrap CSS
.wrap{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.wrap1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.wrap2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}